################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/innovation-tracker-backend/.vs/ProjectEvaluation/innovation-tracker-backend.projects.v9.bin
*.json
/.vs/slnx.sqlite
/innovation-tracker-backend/.vs/innovation-tracker-backend/FileContentIndex/07795a87-7d57-4daf-9319-ffd63f216dfb.vsidx
*.vsidx
/innovation-tracker-backend/.vs/innovation-tracker-backend/v17/.wsuo
/innovation-tracker-backend/.vs/ProjectEvaluation/innovation-tracker-backend.metadata.v7.bin
/innovation-tracker-backend/.vs/ProjectEvaluation/innovation-tracker-backend.metadata.v9.bin
/innovation-tracker-backend/.vs/ProjectEvaluation/innovation-tracker-backend.projects.v7.bin
/innovation-tracker-backend/bin/Debug/net8.0/innovation-tracker-backend.dll
/innovation-tracker-backend/bin/Debug/net8.0/innovation-tracker-backend.exe
/innovation-tracker-backend/obj/Debug/net8.0/innovati.E4D08DF6.Up2Date
/innovation-tracker-backend/obj/Debug/net8.0/innovation-tracker-backend.AssemblyInfo.cs
/innovation-tracker-backend/obj/Debug/net8.0/innovation-tracker-backend.AssemblyInfoInputs.cache
/innovation-tracker-backend/obj/Debug/net8.0/innovation-tracker-backend.assets.cache
/innovation-tracker-backend/obj/Debug/net8.0/innovation-tracker-backend.csproj.AssemblyReference.cache
/innovation-tracker-backend/obj/Debug/net8.0/innovation-tracker-backend.GeneratedMSBuildEditorConfig.editorconfig
/innovation-tracker-backend/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/innovation-tracker-backend/obj/Release/net8.0/innovation-tracker-backend.AssemblyInfo.cs
/innovation-tracker-backend/obj/Release/net8.0/innovation-tracker-backend.AssemblyInfoInputs.cache
/innovation-tracker-backend/obj/Release/net8.0/innovation-tracker-backend.assets.cache
/innovation-tracker-backend/obj/Release/net8.0/innovation-tracker-backend.csproj.AssemblyReference.cache
/innovation-tracker-backend/obj/Release/net8.0/innovation-tracker-backend.GeneratedMSBuildEditorConfig.editorconfig
/innovation-tracker-backend/obj/Release/net8.0/innovation-tracker-backend.GlobalUsings.g.cs
